/* Custom Navbar Styles */
body .navbar-custom {
    background-color: #333; /* Change the background color */
    color: #fff; /* Change the text color */
}

body .navbar-custom .navbar-nav .nav-link {
    color: #fff; /* Change the link color */
}

body .navbar-custom .navbar-nav .nav-link:hover {
    color: #ddd; /* Change the link color on hover */
}
